body {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.line {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
}

.square {
    flex-grow: 1;
    border: solid #000000;
    border-width: 0.05px;
    background-color: lightgray;
}