.content {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
}

.square {
    width: 20px;
    height: 20px;
    border: solid #000000;
    border-width: 0.05px;
    background-color: lightgray;
}